<mat-card>
    <h1>Terms & Conditions</h1>
    <p>We are really happy to offer this benefit to all of our employees. This is why we want to highlight
        some important conditions to make use of our house.
    </p>
    <h3>Please don't dismiss the following rules. Read before continue</h3>
    <mat-list role="list">
        <mat-list-item role="listitem">1) Open from 8am to 10pm</mat-list-item>
        <mat-list-item role="listitem">2) Shower before entering the pool</mat-list-item>
        <mat-list-item role="listitem">3) No meals or drinks inside the pool</mat-list-item>
        <mat-list-item role="listitem">4) No smoking or ingesting drugs</mat-list-item>
        <mat-list-item role="listitem">5) Prohibited the use of gunpowder</mat-list-item>
        <mat-list-item role="listitem">6) After 10pm loud music or noise is not allowed</mat-list-item>
        <mat-list-item role="listitem">7) Respectful use of the facilities. Not dirty</mat-list-item>
        <mat-list-item role="listitem">8) Each booking allows 8 visitors maximum</mat-list-item>
    </mat-list>

    <button mat-raised-button color="primary" routerLink="/booking" class="float-r upper">Continue</button>
    <div class="clearfix"></div>
</mat-card>